.container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.link {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 6px;
  color: hsl(var(--muted-foreground));
  transition: all 0.2s ease;
  text-decoration: none;
}

.link:hover {
  background-color: hsl(var(--muted));
  color: hsl(var(--accent));
}

.icon {
  transition: transform 0.2s ease;
}

:global(.dark) .tiktokIcon {
  filter: invert(1);
}

.link:hover .icon {
  transform: scale(1.1);
}